* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*Large*/
@media (min-width: 768px) {
  /*Dos columnas*/
  .two-columns .column {
    width: 49%;
  }

  .two-columns .column:nth-child(2n) {
    margin-right: 0;
  }

  /*Tres columnas*/
  .three-columns .column {
    width: 32%;
    height: 470px;
  }

  .three-columns .column:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  /*Cuatro columnas*/
  .four-columns .column {
    width: 23.5%;
  }

  .four-columns .column:nth-child(2n) {
    margin-right: 2%;
  }

  .four-columns .column:nth-child(4n) {
    margin-right: 0;
  }

  /*Seis columnas*/
  .six-columns .column {
    width: 15%;
  }

  .six-columns .column:nth-child(6n) {
    margin-right: 0;
  }

  /*Doce columnas*/
  .twelve-columns .column {
    width: 6.5%;
  }

  .twelve-columns .column:nth-child(12n) {
    margin-right: 0;
  }

  /*estilos de página*/
  .nav-header {
    height: 70px;
    background: #343A40;
  }

  .menu, .logo {
    font-weight: bold;
    color:  #ffff;
    font-family: sans-serif;
  }


  .logo {
    position: relative;
    top: 22px;
    left: 18%;
    font-size: 22px;
  }

  .container {
    width: 1920px;
  }

  .items {
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 375%;
    margin-left: 23px;
    font-size: 18px;
  }

  .colors-image {
    height: 400px;
    width: 1920px;
  }

  .eigth-columns {
    width: 66%;
  }

  .row {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  .column {
    float: left;
    margin-right: 2%;
  }

  .text-title {
    padding: 30px 30px 18px 30px;
  }

  .text-two {
    padding: 0px 30px 30px 30px;
  }

  .image-three {
    position: relative;
    left: 15px;
    top: 15px;
    width: 520px;
    height: 380px;
  }

  .title-image {
    position: relative;
    top: 30px;
    text-align: center;
  }

  .footer {
    height: 70px;
    background: #343A40;
  }

  .title-footer {
    color: #ffff;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    top: 25px;
    left: 330%;
  }
}
